{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-html/vue"
  ],
  "rules": {
    "selector-class-pattern": "^[a-z]([-]?[a-z0-9]+)*(__[a-z0-9]([-]?[a-z0-9]+)*)?(--[a-z0-9]([-]?[a-z0-9]+)*)?$",
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true
  }
}
